# Para comentarios, juntar sequencia de comentarios
## FUNCIONA!

## Há uma versão que coloca o \t da forma que queremos

```
print_jointed_lists_strings(str1, str2, separator)
print_jointed_lists_strings_align(str1, str2, separator)
```

As veses estou precisando de: dado duas listas, juntar a de baixo com a de cima

**Isso é bom para melhorar comentários em código**

Exemplo:

lista 1

````
1
2
3
4
5
6
7
8
````

lista 2
````
w
l
d
c
a
s
z
x
u
````
Eu quero que saia a seguinte string

````
1 - w
2 - l
3 - d
4 - c
5 - a
6 - s
7 - z
8 - x
````

In [7]:
# Deve se colocado a sequencia abaixo de string1 da forma que se esta
string1 = """
13000
1300
130
13
1
13300
100300
103033
10000
1000
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
50
60
70
80
90
100
101
200
300
400
500
600
700
800
900
1000
"""

In [8]:
# Deve se colocado a sequencia abaixo de string2
string2 = """
treze mil
mil e trezentos
cento e trinta
treze
um
treze mil e trezentos
cem mil e trezentos
cento e tres mil e trinta e tres
dez mil
mil
um
dois
tres
quatro
cinco
seis
sete
oito
nove
dez
onze
doze
treze
quatorze
quinze
dezesseis
dezessete
dezoito
dezenove
cinquenta
sessenta
setenta
oitenta
noventa
cem
cento e um
duzentos
trezentos
quatrocentos
quinhentos
seiscentos
setecentos
oitocentos
novecentos
mil
"""

In [29]:
def print_jointed_lists_strings(str1, str2, separator = " "):
    l1 = str1.split("\n")
    l2 = str2.split("\n")
    if(len(l1) != len(l2)):
        print("as listas nao tem os mesmso tamanhos")
        print("l1 tem", len(l1), "|", "l2 tem", len(l2))
        return ""
    l3 = []
    for index in range(1, len(l1) - 1):
        l3.append( l1[index] + separator + l2[index] )
    for v in l3:
        print(v)

In [23]:
print_jointed_lists_strings(string1, string2, "\t\t\t\t")

13000				treze mil
1300				mil e trezentos
130				cento e trinta
13				treze
1				um
13300				treze mil e trezentos
100300				cem mil e trezentos
103033				cento e tres mil e trinta e tres
10000				dez mil
1000				mil
1				um
2				dois
3				tres
4				quatro
5				cinco
6				seis
7				sete
8				oito
9				nove
10				dez
11				onze
12				doze
13				treze
14				quatorze
15				quinze
16				dezesseis
17				dezessete
18				dezoito
19				dezenove
50				cinquenta
60				sessenta
70				setenta
80				oitenta
90				noventa
100				cem
101				cento e um
200				duzentos
300				trezentos
400				quatrocentos
500				quinhentos
600				seiscentos
700				setecentos
800				oitocentos
900				novecentos
1000				mil

In [30]:
def print_jointed_lists_strings_align(str1, str2, separator = " "):
    
    def quantos_espacos_por_como_barra_t(str0, len_max):
        qtd = len_max - len(str0)
        spaces = " "
        for i in range(qtd):
            spaces = spaces + " "
        return spaces
        
    l1 = str1.split("\n")
    l2 = str2.split("\n")
    if(len(l1) != len(l2)):
        print("as listas nao tem os mesmso tamanhos")
        print("l1 tem", len(l1), "|", "l2 tem", len(l2))
        return ""
    l3 = []
    # percorre l1 para saber o elemento que tem maior len
    q = -1
    for i in l1:
        q = max(q, len(i))
    
    for index in range(1, len(l1) - 1):
        l3.append( l1[index] + quantos_espacos_por_como_barra_t(l1[index], q) + separator + l2[index] )
    for v in l3:
        print(v)

In [31]:
print_jointed_lists_strings_align(string1, string2)

13000   treze mil
1300    mil e trezentos
130     cento e trinta
13      treze
1       um
13300   treze mil e trezentos
100300  cem mil e trezentos
103033  cento e tres mil e trinta e tres
10000   dez mil
1000    mil
1       um
2       dois
3       tres
4       quatro
5       cinco
6       seis
7       sete
8       oito
9       nove
10      dez
11      onze
12      doze
13      treze
14      quatorze
15      quinze
16      dezesseis
17      dezessete
18      dezoito
19      dezenove
50      cinquenta
60      sessenta
70      setenta
80      oitenta
90      noventa
100     cem
101     cento e um
200     duzentos
300     trezentos
400     quatrocentos
500     quinhentos
600     seiscentos
700     setecentos
800     oitocentos
900     novecentos
1000    mil

In [35]:
strr1 = """
0
1
9
10
14
99
100
101
357
1000
1001
1034
1589
125967
10000
"""

strr2 = """
zero
um
nove
dez
quatorze
noventa e nove
cem
cento e um
trezentos e cinquenta e sete
mil
mil e um
mil e trinta e quatro
mil quinhentos e oitenta e nove
cento e vinte e cinco mil novecentos e sessenta e sete
dez mil
"""

In [36]:
print_jointed_lists_strings_align(strr1, strr2)

0       zero
1       um
9       nove
10      dez
14      quatorze
99      noventa e nove
100     cem
101     cento e um
357     trezentos e cinquenta e sete
1000    mil
1001    mil e um
1034    mil e trinta e quatro
1589    mil quinhentos e oitenta e nove
125967  cento e vinte e cinco mil novecentos e sessenta e sete
10000   dez mil